In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df1 = pd.read_csv('attack_data/attack_annotated_comments.tsv',sep='\t')
df2 = pd.read_csv('attack_data/attack_annotations.tsv',sep='\t')

In [3]:
df1.head()

,rev_id,comment,year,logged_in,ns,sample,split
0,37675,`-NEWLINE_TOKENThis is not ``creative``. Thos...,2002,False,article,random,train
1,44816,`NEWLINE_TOKENNEWLINE_TOKEN:: the term ``stand...,2002,False,article,random,train
2,49851,"NEWLINE_TOKENNEWLINE_TOKENTrue or false, the s...",2002,False,article,random,train
3,89320,"Next, maybe you could work on being less cond...",2002,True,article,random,dev
4,93890,This page will need disambiguation.,2002,True,article,random,train

In [4]:
df2.head()

,rev_id,worker_id,quoting_attack,recipient_attack,third_party_attack,other_attack,attack
0,37675,1362,0.0,0.0,0.0,0.0,0.0
1,37675,2408,0.0,0.0,0.0,0.0,0.0
2,37675,1493,0.0,0.0,0.0,0.0,0.0
3,37675,1439,0.0,0.0,0.0,0.0,0.0
4,37675,170,0.0,0.0,0.0,0.0,0.0

In [63]:
df2.describe()

,rev_id,worker_id,quoting_attack,recipient_attack,third_party_attack,other_attack,attack
count,1.365217e+06,1.365217e+06,1.365217e+06,1.365217e+06,1.365217e+06,1.365217e+06,1.365217e+06
mean,2.999745e+08,1.339286e+03,7.524811e-03,1.117822e-01,3.264756e-02,3.231794e-02,1.669595e-01
std,1.984214e+08,1.053387e+03,8.641871e-02,3.150985e-01,1.777125e-01,1.768432e-01,3.729399e-01
min,3.767500e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.268677e+08,4.450000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.699976e+08,1.079000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,4.592911e+08,2.062000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,6.998972e+08,4.052000e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [56]:
grouped = df2.groupby('rev_id').sum().reset_index()

In [57]:
grouped.head()

,rev_id,worker_id,quoting_attack,recipient_attack,third_party_attack,other_attack,attack
0,37675,9721,0.0,0.0,0.0,0.0,0.0
1,44816,20234,0.0,0.0,0.0,0.0,0.0
2,49851,26474,0.0,0.0,0.0,0.0,0.0
3,89320,26738,0.0,2.0,0.0,2.0,4.0
4,93890,8010,0.0,0.0,0.0,0.0,0.0

In [79]:
df = pd.merge(df1,grouped,left_index=True,right_index=True,how='left',on='rev_id')

In [80]:
df.head()

,rev_id,comment,year,logged_in,ns,sample,split,worker_id,quoting_attack,recipient_attack,third_party_attack,other_attack,attack
0,37675,`-NEWLINE_TOKENThis is not ``creative``. Thos...,2002,False,article,random,train,9721,0.0,0.0,0.0,0.0,0.0
1,44816,`NEWLINE_TOKENNEWLINE_TOKEN:: the term ``stand...,2002,False,article,random,train,20234,0.0,0.0,0.0,0.0,0.0
2,49851,"NEWLINE_TOKENNEWLINE_TOKENTrue or false, the s...",2002,False,article,random,train,26474,0.0,0.0,0.0,0.0,0.0
3,89320,"Next, maybe you could work on being less cond...",2002,True,article,random,dev,26738,0.0,2.0,0.0,2.0,4.0
4,93890,This page will need disambiguation.,2002,True,article,random,train,8010,0.0,0.0,0.0,0.0,0.0

In [81]:
df.drop(columns=['year','logged_in','ns','sample','split'],inplace=True)

In [16]:
rev_id_counts = {}
previous = 0
count = 0
for rev in df2['rev_id']:
    if rev == previous:
        count += 1
        previous = rev
    else:
        rev_id_counts[rev] = count
        count = 0
        previous = rev

In [17]:
len(rev_id_counts)

115864

In [18]:
rev_id_counts

{37675: 0,
 44816: 9,
 49851: 8,
 89320: 9,
 93890: 8,
 102817: 8,
 103624: 9,
 111032: 9,
 120283: 9,
 128532: 8,
 133562: 9,
 138117: 9,
 155243: 18,
 177310: 8,
 192579: 9,
 201190: 7,
 208009: 16,
 249432: 9,
 252031: 9,
 268558: 9,
 276906: 9,
 286174: 9,
 290598: 8,
 294124: 17,
 297866: 9,
 317177: 8,
 336654: 8,
 344567: 18,
 356383: 15,
 358984: 18,
 360594: 8,
 375422: 9,
 376205: 9,
 377054: 9,
 386473: 9,
 388807: 19,
 398923: 8,
 421948: 9,
 460946: 9,
 462765: 8,
 537948: 18,
 546902: 18,
 554005: 18,
 569192: 18,
 583986: 18,
 586452: 18,
 593977: 8,
 600918: 9,
 622095: 19,
 633526: 19,
 661509: 8,
 680470: 8,
 694840: 18,
 700512: 18,
 707010: 18,
 709074: 9,
 724915: 9,
 749616: 8,
 783899: 16,
 784353: 9,
 801279: 9,
 804607: 8,
 808184: 9,
 810614: 9,
 811924: 9,
 823763: 9,
 833825: 18,
 840118: 9,
 849920: 9,
 907749: 18,
 916927: 16,
 920274: 18,
 923974: 9,
 943685: 19,
 945573: 8,
 946822: 17,
 966578: 9,
 967899: 19,
 968361: 9,
 977682: 9,
 996869: 7,
 999587: 8,
 1028038: 19,
 1062754: 9,
 1064649: 9,
 1078251: 8,
 1078839: 19,
 1084843: 9,
 1100463: 18,
 1106855: 9,
 1111314: 19,
 1126594: 17,
 1133583: 18,
 1140231: 9,
 1173977: 8,
 1185345: 8,
 1212997: 19,
 1220372: 18,
 1221055: 9,
 1226695: 8,
 1228544: 18,
 1233393: 9,
 1240138: 18,
 1244940: 8,
 1250844: 8,
 1271243: 18,
 1272192: 8,
 1274893: 18,
 1287308: 18,
 1308838: 18,
 1319467: 9,
 1335953: 19,
 1342010: 18,
 1344626: 18,
 1353904: 9,
 1378881: 8,
 1399397: 8,
 1424317: 18,
 1430603: 9,
 1437269: 8,
 1445262: 8,
 1450441: 9,
 1467956: 9,
 1471111: 7,
 1498304: 7,
 1502668: 9,
 1511787: 8,
 1512122: 17,
 1514095: 18,
 1524672: 16,
 1571456: 19,
 1602567: 8,
 1607151: 19,
 1613088: 18,
 1614861: 8,
 1619034: 8,
 1626365: 8,
 1648870: 18,
 1681351: 15,
 1688728: 8,
 1691773: 9,
 1695416: 9,
 1710587: 7,
 1727501: 19,
 1739728: 8,
 1746212: 8,
 1766005: 8,
 1797312: 17,
 1818201: 17,
 1818757: 9,
 1822867: 8,
 1842885: 18,
 1870012: 8,
 1880686: 18,
 1885751: 8,
 1886077: 9,
 1893214: 9,
 1904322: 9,
 1915850: 9,
 1929392: 19,
 1951021: 19,
 1958817: 9,
 2019031: 9,
 2127009: 18,
 2128377: 9,
 2154637: 18,
 2169884: 18,
 2178019: 8,
 2199800: 9,
 2200466: 9,
 2204998: 19,
 2205553: 9,
 2279790: 7,
 2282897: 9,
 2314562: 8,
 2317983: 9,
 2333292: 8,
 2336156: 9,
 2337410: 18,
 2337738: 9,
 2339911: 7,
 2344408: 8,
 2372659: 16,
 2382504: 19,
 2393060: 9,
 2393813: 9,
 2404372: 17,
 2434442: 8,
 2492647: 18,
 2499761: 18,
 2509442: 8,
 2513570: 18,
 2517349: 9,
 2528768: 9,
 2530720: 8,
 2554704: 8,
 2596359: 16,
 2600857: 17,
 2606162: 9,
 2608091: 18,
 2610242: 9,
 2616381: 9,
 2628839: 18,
 2637993: 8,
 2644049: 16,
 2655107: 9,
 2691812: 19,
 2702703: 9,
 2727211: 8,
 2768165: 19,
 2798813: 8,
 2807850: 9,
 2809532: 9,
 2822026: 8,
 2822748: 9,
 2823542: 8,
 2825604: 9,
 2872735: 17,
 2873647: 8,
 2883799: 16,
 2912786: 9,
 2930834: 19,
 2936710: 19,
 2942923: 9,
 2952690: 8,
 2991403: 8,
 3006949: 19,
 3022621: 8,
 3043866: 8,
 3053593: 18,
 3082233: 9,
 3094437: 8,
 3113708: 9,
 3127196: 8,
 3132477: 9,
 3136117: 9,
 3148037: 9,
 3154173: 19,
 3156619: 9,
 3191134: 17,
 3202092: 17,
 3204013: 9,
 3218970: 18,
 3224969: 18,
 3269610: 7,
 3275647: 9,
 3316450: 18,
 3336752: 18,
 3336806: 9,
 3338384: 19,
 3346958: 18,
 3348723: 9,
 3360621: 8,
 3367698: 9,
 3368922: 9,
 3370685: 9,
 3391540: 8,
 3418180: 9,
 3423447: 9,
 3449295: 9,
 3476363: 9,
 3476411: 9,
 3483810: 9,
 3492883: 18,
 3494080: 9,
 3525676: 8,
 3534983: 7,
 3537816: 7,
 3568531: 8,
 3578859: 15,
 3591206: 9,
 3592470: 7,
 3604206: 17,
 3604478: 9,
 3607710: 9,
 3637110: 8,
 3658913: 9,
 3659754: 18,
 3661333: 8,
 3686608: 8,
 3687369: 8,
 3720681: 8,
 3721507: 19,
 3729208: 17,
 3734468: 9,
 3768454: 18,
 3793165: 8,
 3798128: 9,
 3805086: 8,
 3805237: 9,
 3807888: 19,
 3819624: 18,
 3824980: 9,
 3881562: 9,
 3897107: 7,
 3912081: 17,
 3912879: 8,
 3913164: 19,
 3925539: 18,
 3925986: 19,
 3938728: 8,
 3947215: 17,
 3990121: 18,
 3990296: 9,
 4037240: 8,
 4046281: 18,
 4047256: 9,
 4048597: 9,
 4054247: 17,
 4079607: 18,
 4094616: 19,
 4110732: 18,
 4117580: 19,
 4126589: 9,
 4132387: 17,
 4149561: 18,
 4155694: 19,
 4171527: 8,
 4176790: 19,
 4220627: 17,
 4248099: 19,
 4252057: 9,
 4252390: 9,
 4254142: 9,
 4316076: 19,
 4322944: 9,
 4334457: 19,
 4340600: 9,
 4342815: 19,
 4347810: 8,
 4359172: 17,
 4372885: 19,
 4374930: 8,
 4399236: 19,
 4403353: 8,
 4410758: 8,
 4427756: 9,
 4463018: 8,
 4475822: 9,
 4480909: 19,
 4492283: 19,
 4508575: 9,
 4520384: 9,
 4530607: 8,
 4559092: 7,
 4572513: 8,
 4588608: 19,
 4600597: 18,
 4613824: 17,
 4614157: 19,
 4619883: 7,
 4632658: 8,
 4649929: 9,
 4673271: 9,
 4691584: 9,
 4704558: 8,
 4705411: 8,
 4741245: 9,
 4745553: 19,
 4746795: 18,
 4755952: 17,
 4756405: 9,
 4763903: 8,
 4769059: 9,
 4790512: 9,
 4825990: 7,
 4843236: 8,
 4855563: 8,
 4864279: 9,
 4876796: 16,
 4886834: 8,
 4889260: 9,
 4898172: 18,
 4969076: 9,
 4981621: 17,
 4992977: 9,
 5024806: 9,
 5085524: 7,
 5097249: 18,
 5097546: 18,
 5107418: 8,
 5108359: 17,
 5130102: 18,
 5140762: 8,
 5146601: 7,
 5155366: 8,
 5155889: 7,
 5158305: 8,
 5160895: 17,
 5165788: 8,
 5173208: 9,
 5200332: 8,
 5210708: 18,
 5226113: 9,
 5252559: 9,
 5262377: 9,
 5263616: 8,
 5267966: 9,
 5282448: 8,
 5285415: 8,
 5299873: 9,
 5320312: 9,
 5350726: 9,
 5359351: 9,
 5387066: 18,
 5411423: 8,
 5414702: 9,
 5417906: 19,
 5435278: 17,
 5459395: 9,
 5487674: 17,
 5496580: 8,
 5517442: 18,
 5567514: 9,
 5571217: 19,
 5577512: 18,
 5579038: 9,
 5598366: 9,
 5603627: 9,
 5619479: 18,
 5623673: 18,
 5623886: 9,
 5628687: 8,
 5631268: 7,
 5635120: 7,
 5636675: 16,
 5636688: 19,
 5643372: 16,
 5643793: 9,
 5646320: 17,
 5646918: 18,
 5664112: 8,
 5667415: 9,
 5669261: 9,
 5671785: 9,
 5688244: 7,
 5701213: 8,
 5725263: 9,
 5742627: 9,
 5766110: 8,
 5767620: 17,
 5789879: 9,
 5838638: 9,
 5839643: 8,
 5840678: 7,
 5857640: 9,
 5868581: 18,
 5902358: 7,
 5909705: 9,
 5937488: 18,
 5983299: 19,
 6008216: 9,
 6028746: 8,
 6033286: 8,
 6036793: 8,
 6041093: 7,
 6072317: 8,
 6085331: 8,
 6137699: 18,
 6140922: 18,
 6160001: 8,
 6167821: 9,
 6198986: 8,
 6201487: 9,
 6220016: 17,
 6227228: 18,
 6253871: 19,
 6268403: 9,
 6270546: 9,
 6274346: 8,
 6281905: 19,
 6283565: 19,
 6290505: 9,
 6302861: 8,
 6303072: 9,
 6316853: 9,
 6319106: 9,
 6332701: 19,
 6352112: 16,
 6360046: 9,
 6368941: 9,
 6371694: 9,
 6390460: 8,
 6394466: 18,
 6398122: 9,
 6404082: 8,
 6420997: 9,
 6473887: 17,
 6485134: 8,
 6485710: 9,
 6499490: 18,
 6515159: 9,
 6545332: 9,
 6545351: 9,
 6552815: 9,
 6561426: 16,
 6561531: 9,
 6564850: 7,
 6567213: 9,
 6568586: 9,
 6575074: 7,
 6586041: 17,
 6589602: 9,
 6593650: 9,
 6601117: 7,
 6612651: 9,
 6623190: 18,
 6683326: 7,
 6689700: 9,
 6689996: 9,
 6698707: 17,
 6702361: 9,
 6725604: 9,
 6735507: 8,
 6738513: 9,
 6739098: 18,
 6742878: 9,
 6755755: 18,
 6801519: 9,
 6813383: 9,
 6832933: 7,
 6835562: 18,
 6901744: 8,
 6902391: 18,
 6929826: 9,
 6936709: 9,
 6984093: 9,
 7031677: 18,
 7034125: 8,
 7068957: 9,
 7081561: 19,
 7086684: 9,
 7086885: 9,
 7100783: 9,
 7132903: 18,
 7164742: 8,
 7174456: 8,
 7189227: 8,
 7189805: 7,
 7256500: 9,
 7291021: 18,
 7326583: 7,
 7352582: 9,
 7379360: 9,
 7422051: 9,
 7423111: 8,
 7427711: 7,
 7433478: 9,
 7502908: 8,
 7516133: 15,
 7519238: 16,
 7527813: 8,
 7529470: 9,
 7566015: 8,
 7566540: 19,
 7572074: 16,
 7583117: 9,
 7586127: 8,
 7588842: 19,
 7623425: 19,
 7629536: 19,
 7639859: 18,
 7640829: 8,
 7655932: 19,
 7658544: 8,
 7666620: 9,
 7761276: 17,
 7779203: 9,
 7786979: 9,
 7799765: 9,
 7800123: 9,
 7801680: 8,
 7810553: 8,
 7823754: 19,
 7823931: 8,
 7826081: 17,
 7826518: 8,
 7827096: 8,
 7829616: 9,
 7838300: 9,
 7838899: 19,
 7868969: 17,
 7871012: 8,
 7874468: 9,
 7892336: 19,
 7914310: 17,
 7962703: 19,
 7964769: 9,
 7977508: 9,
 7977970: 19,
 7980480: 9,
 7982262: 9,
 7997303: 9,
 8011532: 9,
 8012518: 8,
 8053756: 19,
 8062796: 19,
 8065840: 18,
 8077543: 18,
 8082914: 8,
 8096614: 9,
 8102355: 8,
 8102861: 17,
 8126037: 7,
 8132353: 16,
 8156410: 19,
 8162003: 9,
 8163533: 8,
 8175879: 8,
 8190708: 9,
 8229236: 9,
 8232761: 8,
 8247331: 8,
 8249017: 18,
 8260547: 19,
 8271671: 8,
 8271742: 18,
 8275523: 9,
 8284251: 18,
 8297471: 16,
 8310740: 9,
 8310821: 8,
 8323109: 9,
 8323423: 8,
 8324788: 8,
 8336206: 7,
 8346526: 9,
 8347658: 8,
 8347684: 8,
 8350378: 8,
 8351483: 9,
 8354624: 9,
 8355464: 9,
 8356071: 8,
 8357601: 7,
 8357736: 9,
 8359431: 8,
 8366856: 9,
 8371531: 8,
 8375796: 8,
 8397941: 19,
 8402698: 9,
 8419208: 9,
 8424530: 9,
 8429522: 9,
 8430012: 9,
 8436907: 9,
 8444859: 8,
 8470953: 9,
 8482919: 9,
 8491505: 8,
 8493037: 9,
 8500886: 9,
 8501105: 9,
 8511540: 9,
 8524006: 8,
 8571785: 8,
 8621412: 17,
 8622992: 8,
 8624535: 8,
 8631142: 8,
 8635059: 9,
 8644708: 7,
 8647800: 19,
 8651698: 8,
 8652342: 8,
 8652387: 7,
 8660574: 19,
 8665484: 8,
 8666853: 7,
 8674290: 9,
 8680995: 9,
 8706744: 18,
 8708229: 9,
 8708605: 9,
 8708774: 8,
 8721576: 9,
 8723181: 9,
 8723483: 9,
 8724028: 7,
 8724769: 9,
 8725515: 8,
 8725954: 9,
 8726172: 8,
 8726328: 8,
 8727175: 7,
 8727187: 9,
 8727268: 9,
 8740748: 9,
 8763404: 8,
 8763769: 9,
 8768929: 8,
 8771540: 9,
 8772699: 8,
 8781358: 7,
 8786123: 18,
 8809377: 9,
 8835404: 9,
 8838730: 9,
 8841793: 9,
 8845700: 17,
 8845736: 9,
 8845780: 9,
 8846851: 9,
 8855349: 9,
 8855444: 9,
 8855554: 9,
 8875065: 9,
 8875274: 18,
 8875633: 36,
 8876353: 18,
 8879515: 19,
 8889597: 9,
 8890388: 17,
 8894790: 18,
 8898541: 19,
 8898827: 9,
 8898868: 15,
 8898892: 9,
 8899112: 8,
 8899166: 29,
 8901613: 9,
 8912714: 8,
 8925594: 19,
 8940449: 9,
 8942766: 9,
 8947667: 9,
 8950324: 9,
 8960885: 9,
 8971984: 8,
 8972653: 8,
 8975067: 28,
 8985800: 9,
 8997245: 19,
 9005225: 9,
 9021595: 8,
 9065404: 8,
 9075310: 8,
 9081074: 19,
 9086480: 17,
 9086510: 18,
 9088718: 19,
 9102140: 18,
 9109054: 19,
 9113920: 18,
 9128966: 8,
 9135653: 19,
 9142673: 8,
 9142840: 19,
 9149908: 9,
 9151537: 9,
 9183994: 29,
 9185986: 18,
 9218759: 18,
 9220314: 8,
 9240848: 19,
 9253580: 8,
 9259257: 18,
 9260929: 9,
 9273851: 9,
 9295860: 9,
 9299458: 9,
 9308556: 9,
 9308982: 9,
 9311712: 9,
 9317231: 8,
 9318724: 9,
 9338953: 8,
 9339988: 9,
 9341657: 8,
 9362147: 18,
 9373666: 9,
 9374760: 9,
 9380509: 17,
 9392747: 9,
 9396830: 9,
 9401490: 9,
 9401786: 22,
 9401961: 9,
 9426862: 9,
 9436902: 17,
 9467871: 8,
 9468254: 17,
 9483497: 19,
 9506062: 8,
 9521749: 19,
 9521926: 9,
 9527606: 8,
 9534106: 9,
 9534738: 9,
 9534999: 8,
 9535373: 8,
 9536253: 9,
 9539760: 7,
 9565024: 8,
 9581608: 19,
 9604432: 7,
 9620943: 9,
 9621061: 18,
 9638435: 7,
 9643208: 9,
 9644905: 9,
 9664203: 9,
 9664254: 9,
 9666832: 8,
 9671636: 9,
 9676905: 19,
 9678610: 19,
 9678940: 9,
 9679297: 9,
 9680071: 9,
 9681754: 9,
 9714891: 9,
 9716206: 9,
 9719573: 9,
 9721536: 9,
 9722653: 18,
 9725692: 9,
 9734511: 7,
 9735893: 9,
 9757452: 26,
 9760201: 7,
 9761129: 9,
 9761768: 9,
 9771409: 8,
 9794643: 9,
 9796773: 9,
 9798210: 18,
 9802272: 8,
 9806726: 9,
 9806816: 8,
 9810672: 9,
 9810954: 9,
 9815844: 9,
 9818373: 8,
 9823997: 9,
 9858487: 9,
 9862371: 9,
 9862374: 8,
 9867533: 19,
 9875604: 9,
 9885273: 9,
 9916585: 18,
 9920681: 7,
 9930032: 9,
 9934407: 8,
 9936104: 8,
 9944737: 19,
 9945486: 8,
 9945512: 9,
 9963275: 9,
 9969256: 16,
 10000343: 8,
 10014218: 9,
 10014426: 9,
 10020786: 19,
 10036579: 19,
 10039104: 8,
 10046173: 7,
 10056809: 18,
 10072826: 9,
 10074834: 9,
 10074898: 9,
 10074926: 9,
 10077807: 9,
 10078052: 9,
 10082841: 18,
 10091311: 9,
 10106493: 18,
 10110656: 8,
 10119451: 8,
 10119786: 8,
 10123156: 8,
 10131175: 9,
 10144987: 9,
 10148459: 8,
 10151862: 9,
 10153554: 8,
 10153719: 9,
 10162306: 7,
 10163144: 9,
 10168542: 8,
 10169491: 18,
 10185780: 9,
 10186636: 8,
 10187064: 9,
 10191128: 9,
 10207785: 8,
 10211136: 9,
 10214654: 18,
 10214657: 18,
 10229119: 9,
 10229169: 9,
 10253580: 8,
 10254282: 9,
 10255042: 9,
 10257591: 8,
 10258072: 8,
 10258619: 17,
 10266382: 9,
 10266787: 9,
 10266890: 9,
 10275650: 9,
 10278775: 18,
 10283381: 9,
 10288920: 19,
 10289255: 9,
 10291074: 8,
 10307178: 9,
 10307564: 8,
 10310099: 9,
 10311993: 8,
 10316634: 8,
 10322483: 9,
 10327520: 9,
 10335102: 9,
 10337445: 9,
 10343777: 9,
 10345843: 7,
 10346963: 9,
 10347391: 8,
 10347678: 9,
 10355017: 8,
 10363543: 9,
 10365624: 8,
 10368143: 8,
 10372876: 26,
 10387769: 9,
 10388114: 8,
 10393751: 9,
 10394631: 17,
 10405662: 9,
 10411449: 18,
 10420364: 9,
 10420815: 16,
 10424130: 9,
 10429734: 9,
 10444014: 8,
 10445065: 9,
 10458527: 9,
 10459019: 9,
 10470096: 9,
 10471642: 26,
 10480561: 9,
 10491092: 8,
 10493814: 9,
 10494131: 9,
 10494187: 9,
 10495556: 8,
 10496976: 8,
 10511957: 14,
 10513330: 9,
 10515880: 8,
 10528000: 9,
 10528666: 8,
 10532150: 18,
 10533233: 29,
 10547576: 9,
 10550156: 9,
 10551712: 27,
 10551847: 18,
 10553279: 7,
 10559080: 18,
 10562085: 17,
 10562724: 7,
 10563063: 9,
 10564118: 9,
 10574791: 9,
 10586223: 16,
 10596442: 9,
 10596606: 18,
 10600564: 9,
 10611353: 9,
 10613488: 8,
 10617644: 19,
 10620221: 9,
 10620280: 9,
 10624311: 9,
 10626210: 8,
 10627987: 9,
 10630552: 9,
 10638055: 16,
 10638814: 9,
 10644950: 9,
 10654775: 9,
 10663882: 19,
 10671422: 9,
 10680656: 9,
 10686413: 19,
 10699378: 19,
 10707460: 18,
 10707749: 16,
 10711924: 9,
 10716698: 7,
 10717856: 8,
 10787382: 9,
 10808332: 9,
 10809295: 9,
 10844927: 8,
 10848550: 9,
 ...}

In [39]:
df2[df2['rev_id'] == 37675].shape[0]

10

In [37]:
rev_id_counts[37675] = 10

In [82]:
df['num_reviews'] = df['rev_id'].map(rev_id_counts)

In [83]:
df.head()

,rev_id,comment,worker_id,quoting_attack,recipient_attack,third_party_attack,other_attack,attack,num_reviews
0,37675,`-NEWLINE_TOKENThis is not ``creative``. Thos...,9721,0.0,0.0,0.0,0.0,0.0,10
1,44816,`NEWLINE_TOKENNEWLINE_TOKEN:: the term ``stand...,20234,0.0,0.0,0.0,0.0,0.0,9
2,49851,"NEWLINE_TOKENNEWLINE_TOKENTrue or false, the s...",26474,0.0,0.0,0.0,0.0,0.0,8
3,89320,"Next, maybe you could work on being less cond...",26738,0.0,2.0,0.0,2.0,4.0,9
4,93890,This page will need disambiguation.,8010,0.0,0.0,0.0,0.0,0.0,8

In [84]:
def remove_junk(comment):
    if 'NEWLINE_TOKEN' in comment:
        comment = comment.replace('NEWLINE_TOKEN','')
    for char in comment.lower():
        if char not in '1234567890abcdefghijklmnopqrstuvwxyz ':
            comment = comment.replace(char,'')
    return comment

In [85]:
df['comment'] = df['comment'].apply(remove_junk)

In [86]:
df.head()

,rev_id,comment,worker_id,quoting_attack,recipient_attack,third_party_attack,other_attack,attack,num_reviews
0,37675,This is not creative Those are the dictionary...,9721,0.0,0.0,0.0,0.0,0.0,10
1,44816,the term standard model is itself less NPOV t...,20234,0.0,0.0,0.0,0.0,0.0,9
2,49851,True or false the situation as of March 2002 w...,26474,0.0,0.0,0.0,0.0,0.0,8
3,89320,Next maybe you could work on being less conde...,26738,0.0,2.0,0.0,2.0,4.0,9
4,93890,This page will need disambiguation,8010,0.0,0.0,0.0,0.0,0.0,8

In [87]:
df['comment'].value_counts()

Thank you for experimenting with  Wikipedia Your test worked and it has been reverted or removed Please use the sandbox for any other tests you may want to do Take a look at the welcome page to learn more about contributing to our encyclopedia                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  21
Please do not add nonsense to Wikipedia It is considered vandalism If you would like to experiment use the sandbox Thank you                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         11
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     10
Thank you for experimenting with  Wikipedia Your test worked and it has been reverted or removed Please use the sandbox for any other tests you may want to do Take a look at the welcome page to learn more about contributing to our encyclopedia                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  10
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     10
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     ..
Oh and Id also like to welcome you If you ever need any help even if it seems to be a stupid question feel free to ask at Wiki alfs talk page or mine or anyone elses in fact We were all newcomers at one point and possibly 99 of the time we became what we are through the help of others Anyway cheers                                                                                                                                                                                                                                                                                                                                                                                                                                           1
 final unblock request                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                1
 The only person claiming edit warring is you  I urge you again to moderate your tone and abide by civility   Padding Romms entry with insubstantial fluff like what his brother does for a living and lengthy descriptions of projects he helped with has no place in an encyclopedia entry                                                                                                                                                                                                                                                                                                                                                                                                                                                          1
The recreated article can now be found at WikipediaArticle IncubatorNeenyo Note that WPMUSICBIO applies to musicians not a producer  and as a musician this individual appears to fail on the qualifying points The best guidelines to follow are WPBASIC and WPGNG In general these mean that if an individual has received substantial nontrivial coverage in reliable independent sources entire articles about the individual in magazines newspapers etc than they will pass notability guidelines Multiple instances of that kind of coverage is still lacking in the Neenyo article and will need to be added for the article to meet notability guidelines Good luck with the editing If you have further questions feel free to ask          1
I STRONGLY object to calling Ted Stevens disgraced His conviction was overturned due to gross misconduct by prosecutors                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               1
Name: comment, Length: 115300, dtype: int64

In [88]:
df[df['comment'] == 'Thank you for experimenting with  Wikipedia Your test worked and it has been reverted or removed Please use the sandbox for any other tests you may want to do Take a look at the welcome page to learn more about contributing to our encyclopedia']

,rev_id,comment,worker_id,quoting_attack,recipient_attack,third_party_attack,other_attack,attack,num_reviews
24713,105907636,Thank you for experimenting with Wikipedia Yo...,26509,0.0,2.0,0.0,0.0,2.0,19